* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPE */

/* HEADER */
nav i.fa-solid.fa-bars {
    font-size: 35px;
}
/* /HEADER */

/* BOX WH65 */
.wh65{
    text-align: start;
}
.demo .wh65 .sotto-box button span{
    margin-left: 20px;
}

.demo .wh65 .sotto-box button{
    background-color: #0084fd;
    color: white;
    border-radius: 50px;
    padding: 10px 50px;
}

.demo .wh65 .sotto-box img{
    margin-bottom: -30px ;
}

/* /BOX WH65 */

/* SEZIONE 1 */
.demo .sotto-box p{
    font-size: 1.125rem;
    font-weight: bold;
    margin: 40px 0;
}

.demo .sotto-box h2,
.demo .wh35.sotto-box i{
    color: #0084fd;
}

.demo .wh35.sotto-box i{
    font-size: 80px;
    margin-bottom: 20px;
}
/* /SEZIONE 1 */

/* SEZIONE 2 */
.strategic h2{
    font-size: 34px;
    margin: 60px 0;
}

.strategic .box h3{
    font-size: 24px;
}

.strategic .box p{
    font-size: 18px;
    font-style: italic;
    margin: 40px 0;
}

.strategic .box button{
    font-size: 24px;
    background-color: #9792e4;
    margin: 0 auto;
    padding: 14px 20px;
    border-radius: 100%;
}
/* /SEZIONE 2 */


/* /TYPE */
/* COMUNI */ 

body{
    line-height: 1.875rem;
    font-family: 'PT Sans', sans-serif;
}

.benefits,
.get-started,
.strategic {
    background-color: #9792e4
}

button {
    all: unset;
    display: block;
    cursor: pointer;
}

.flex {
    display: flex;
}

.p30 {
    padding: 30px;
}
img{
    width: 100%;
    display: block;
}
/* /COMUNI */


/* MOBILE 480PX */
/* DEBUG */


.debug .titolo {
    background-color: yellow;
}

.debug .find-me {
    background-color: green;
}
/* /DEBUG */
/* HEADER */
header {
    background-color: #0084fd;
    color: white;
}

nav {
    justify-content: space-between;
}

/* /HEADER */
/* MAIN */

/* SEZIONE 1 */

.box {
    background-color: #b5ddff;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 3.125rem;
}

.demo {
    flex-direction: column;
    gap: 1.5625rem;
}

.sotto-box {
    width: 100%;
    padding: 30px;

}

/* /SEZIONE 1 */
/* SEZIONE 2 */
.strategic .p30.flex {
    flex-direction: column;
    gap: 25px;
    color: white;
}

.strategic .box{
    background-color: white;
    color: black;
}

/* /SEZIONE 2 */
/* SEZIONE 3 */
.testimonials .p30 {
    text-align: center;
    padding: 50px 0;
}

.testimonials .p30 p {
    margin-bottom: 50px;
}

/* /SEZIONE 3 */
/* SEZIONE 4  */
.get-started {
    text-align: center;
    padding: 60px 0;
}

/* /SEZIONE 4  */

/* /MAIN */
/* FOOTER */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
}

footer span {
    display: block;
}

footer .p30 span:first-child {
    margin-bottom: 100px;
}

/*
**************************
RESPONSIVITA'
************************ */


@media screen and (min-width: 768px) {    
    /* contenitore per una dimensione massima centrata */
    nav,
    .demo,
    .strategic .p30,
    .benefits .p30,
    .about-us,
    .get-started .p30,
    footer .p30 {
        max-width: 720px;
        margin: 0 auto;
    }

    /* SEZIONE 1 */
    .demo {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        width: calc((100% - 50px) / 3);
    }

    .wh65 {
        width: 65%;
    }


    /* /SEZIONE 1 */
    /* SEZIONE 2 */

    .strategic .box{
        width: 100%;
    }

    /* /SEZIONE 2 */
    /* SEZIONE 3  */
    .testimonials .p30 .demo {
        flex-direction: column;
    }

    .testimonials .p30 .demo .box {
        flex-wrap: nowrap;
        width: 100%;
    }

    /* /SEZIONE 3  */
    /* SEZIONE 4  */
    .benefits .box {
        width: calc((100% - 50px) / 2);
    }

    /* /SEZIONE 4  */
    /* SEZIONE 5 */
    .about-us .p30 {
        display: flex;
    }

    .about-us .p30 .titolo {
        width: 70%;
    }

    .about-us .p30 .find-me {
        width: 30%;
    }

    /* /SEZIONE 5 */
}



@media screen and (min-width: 992px) {


    /* contenitore per una dimensione massima centrata */
    nav,
    .demo,
    .strategic .p30,
    .benefits .p30,
    .about-us,
    .get-started .p30,
    footer .p30 {
        max-width: 992px;
        margin: 0 auto;
    }

    /* SEZIONE 1 */
    .box.wh65 {
        flex-wrap: nowrap;
    }
    
    .sotto-box.image{
        align-self: flex-end;
    }
    /* /SEZIONE 1 */
    /* SEZIONE 2 */
    .strategic .p30.flex {
        flex-direction: row;
        align-items: flex-end;
        padding: 30px 140px;
    }

    .strategic .box.p30{
        width: 40%;
    }

    .strategic-top{
        width: 60%;
    }
    /* /SEZIONE 2 */
    /* SEZIONE 4  */
    .benefits .box {
        width: calc((100% - 50px) / 3);
    }

    /* /SEZIONE 4  */

}

@media screen and (min-width: 1200px) {    
    /* contenitore per una dimensione massima centrata */
    nav,
    .demo,
    .benefits .p30,
    .about-us,
    .get-started .p30,
    footer .p30 {
        max-width: 1140px;
        margin: 0 auto;
    }
}