* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPE */
h2 {
    margin: 50px 0;
}

/* /TYPE */
/* COMUNI */
.benefits,
.get-started,
.strategic {
    background-color: #9792e4
}

button {
    all: unset;
    display: block;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.p30 {
    padding: 30px;
}
/* /COMUNI */


/* MOBILE 480PX */
/* DEBUG */
.debug header {
    height: 75px;
}

.debug .box {
    height: 305px;
}

.debug .wh65 {
    height: 610px;
}

.debug .strategic div {
    height: 400px;
    background-color: yellowgreen;
}

.debug .titolo {
    background-color: yellow;
}

.debug .find-me {
    background-color: green;
    height: 220px;
}
/* /DEBUG */
/* HEADER */
header {
    background-color: #0084fd;
    color: white;
}

nav {
    justify-content: space-between;
}

/* /HEADER */
/* MAIN */

/* SEZIONE 1 */

.box {
    background-color: #b5ddff;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 3.125rem;
}

.demo {
    flex-direction: column;
    gap: 1.5625rem;
}

.sotto-box {
    width: 100%;
}

/* /SEZIONE 1 */
/* SEZIONE 2 */
.strategic {
    flex-direction: column;
    gap: 25px;
    text-align: center;
    color: white;
}

/* /SEZIONE 2 */
/* SEZIONE 3 */
.testimonials {
    text-align: center;
    padding: 50px 0;
}

.testimonials p {
    margin-bottom: 50px;
}

/* /SEZIONE 3 */
/* SEZIONE 4  */
.get-started {
    text-align: center;
    padding: 60px 0;
}

/* /SEZIONE 4  */

/* /MAIN */
/* FOOTER */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
}

footer span {
    display: block;
}

footer .p30 span:first-child {
    margin-bottom: 100px;
}

/*
**************************
RESPONSIVITA'
************************ */


@media screen and (min-width: 768px) {

    /* SEZIONE 1 */
    .demo {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        width: calc((100% - 50px) / 3);
    }

    .wh65 {
        width: 65%;
    }

    .debug .wh65 {
        height: 305px;
    }

    /* /SEZIONE 1 */
    /* SEZIONE 3  */
    section.p30 .testimonials .demo {
        flex-direction: column;
    }

    section.p30 .testimonials .demo .box {
        flex-wrap: nowrap;
        width: 100%;
    }

    /* /SEZIONE 3  */
    /* SEZIONE 4  */
    .benefits .box {
        width: calc((100% - 50px) / 2);
    }

    /* /SEZIONE 4  */
    /* SEZIONE 5 */
    .about-us .p30 {
        display: flex;
    }

    .about-us .p30 .titolo {
        width: 70%;
    }

    .about-us .p30 .find-me {
        width: 30%;
    }

    /* /SEZIONE 5 */
}



@media screen and (min-width: 992px) {


    /* contenitore per una dimensione massima centrata */
    nav,
    .demo,
    .benefits .p30,
    .about-us,
    .get-started .p30,
    footer .p30 {
        max-width: 992px;
        margin: 0 auto;
    }

    /* SEZIONE 1 */
    .box.wh65 {
        flex-wrap: nowrap;
    }

    /* /SEZIONE 1 */
    /* SEZIONE 2 */
    .strategic {
        flex-direction: row;
        justify-content: center;
    }

    /* /SEZIONE 2 */
    /* SEZIONE 4  */
    .benefits .box {
        width: calc((100% - 50px) / 3);
    }

    /* /SEZIONE 4  */

}